:host {
  outline: solid 1px black;
  display: flex;
  width: 100%;
  min-height: 30rem;
  z-index: 0;
  justify-content: center;
}

@font-face {
  font-family: 'monaspace-neon';
  font-stretch: 100%;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/MonaspaceNeonVarVF.ttf');
}

@font-face {
  font-family: 'fira-code';
  font-stretch: 100%;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/FiraCode-VariableFont_wght.ttf');
}

textarea {
  resize: none;
  width: 40%;
  white-space: pre;
}

.visible-text {
  font-family: 'fira-code';
  width: 40%;
  outline: solid 1px black;
  letter-spacing: 1px;
  padding: .25rem;
  overflow: auto;
  scroll-behavior: smooth;
  -webkit-user-select: none;
  user-select: none;
}

span {
  position: relative;
  white-space: pre-wrap;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  max-height: 1rem;
  min-height: 1rem;
  counter-increment: row_counter;
  position: relative;
  cursor: text;
}

.row:nth-child(2n + 1)  {
  background-color: #f5f5f5;
}

.row:before {
  display: inline-block;
  text-align: right;
  pointer-events: none;
  content: counter(row_counter, decimal);
  width: 3rem;
  max-width: 3rem;
  padding-right: 1rem;
  color: lightgray;

}

.selected:after {
  content: '';
  position: absolute;
  pointer-events: none;
  min-width: 1rem;
  min-height: 1rem;
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  animation: cursor 1s linear infinite;

}
.highlighted:before {
  content: attr(data-text);
  pointer-events: none;
  position: absolute;
  min-height: 1rem;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: white;
  background-color: #1d6ab7;
}

.highlighted:nth-last-child(1 of .highlighted):before {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.highlighted:nth-child(1 of .highlighted):before {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}


/* .hidden-text {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
} */


@keyframes cursor {
  from {
    border-left: 1px solid black;
  }
  to {
    border-left: none;
  }
}
