<section>
  <button title="Seleccionar SVG" (click)="getMarkdown()">
    <app-folder></app-folder>
  </button>
  <app-search-bar></app-search-bar>
  <button
    type="button"
    title="Vista Markdown"
    routerLink="/md"
    routerLinkActive="is-active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <app-code></app-code>
  </button>
  <button
    type="button"
    title="Vista Referencias"
    routerLink="/"
    routerLinkActive="is-active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <app-code></app-code>
  </button>
</section>
