/* You can add global styles to this file, and also import other style files */
html {
  font-family: Menlo, Monaco, Lucida Console, 'Courier New', monospace;
  letter-spacing: -0.025em;
}
a {
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}
